---
import type { GetStaticPathsOptions, Page } from "astro";

interface Props {
  page: Page<TopicPage>;
}

type TopicPage = {
  url?: string;
  title: string;
};

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const files = await Astro.glob("../*.md");
  const pages: TopicPage[] = files.map(f => ({
    url: f.url,
    title: f.frontmatter.title,
  }));
  // Generate pages from our array of astronauts, with 2 to a page
  return paginate(pages, { pageSize: 2 });
}
const { page } = Astro.props;
---

<h1>Page {page.currentPage}</h1>
<ul>
  {
    page.data.map(({ title, url }) => (
      <li>
        <a href={url}>{title}</a>
      </li>
    ))
  }
</ul>

{page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
{page.url.next ? <a href={page.url.next}>Next</a> : null}
