---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import EmpolyeeCard from "../../components/EmpolyeeCard.astro";
import { shuffle } from "../../utils";
import CategorySelector from "../../components/CategorySelector.astro";

type Params = {
  category: string;
};
const { category } = Astro.params as Params;
const mentors = await getCollection(
  "mentors",
  m => m.data.category == category,
);
---

<Layout title={"Variant Mentoring"}>
  <h1 class="text-4xl font-bold text-center my-4 block">
    Finn din mentor innen {category}
  </h1>

  <div class="max-w-[30rem] mt-12 mx-auto">
    <p>
      I Variant tilbyr vi mentoring til andre Varianter og folk utenfor Variant.
      Dersom du ønsker en sesjon med en av våre mentorer så kan du sende epost
      direkte og gi informasjon om hva du ønsker mentoring innen.
    </p>
  </div>

  <CategorySelector selected={category} />

  <div class="grid gap-8 grid-flow-row grid-cols-fluid my-24">
    {
      shuffle(mentors).map(async ({ slug, data, render }) => {
        const { Content } = await render();
        return (
          <EmpolyeeCard
            Content={Content}
            email={data.email}
            tags={data.tags}
            slug={slug}
          />
        );
      })
    }
  </div>
</Layout>
