---
import { Picture } from "@astrojs/image/components";
import type { AstroComponentFactory } from "astro/dist/runtime/server";
import { getEmployee } from "../data";

export interface Props {
  slug: string;
  email: string;
  tags: string[];
  Content: AstroComponentFactory;
}

const { email, Content, tags, slug } = Astro.props;
const employee = await getEmployee(email);
---

{
  employee && (
    <div class="font-sans w-full flex flex-row justify-center pt-20 max-w-[35rem] mx-auto">
      <div class="card  max-w-96 mx-auto bg-white flex flex-col shadow-xl hover:shadow">
        <Picture
          src={employee.imageUrl}
          alt={employee.name}
          widths={[200]}
          aspectRatio="1:1"
          formats={["avif", "png"]}
          class="w-32 mx-auto rounded-full -mt-20 border-8 border-white bg-white"
        />
        <h2 class="text-center mt-2 text-3xl font-medium">
          <a href={`/mentor/${slug}`}>{employee.name}</a>
        </h2>
        <div class="text-center mt-2 font-light text-sm">
          <a href={`mailto:${email}`}>{email}</a>
        </div>
        <div class="px-6 mt-2 font-light text-sm flex-1">
          <Content />

          <div class="flex py-4 flex-wrap gap-1">
            {tags.map(tag => (
              <a
                href={`/tag/${tag}`}
                class="py-1 px-2 text-sm shadow-md no-underline text-white rounded-full bg-gray-500 hover:bg-gray-400 transition-colors font-sans border-blue">
                {tag}
              </a>
            ))}
          </div>
        </div>

        <hr />
        <div class="flex p-4 flex-wrap gap-1 justify-end">
          <a
            href={`mailto:${email}`}
            class="py-2 px-4 shadow-md no-underline text-white rounded-full bg-blue-600 hover:bg-blue-500 font-sans font-semibold transition-colors text-sm border-blue">
            Ta kontakt for mentoring
          </a>
        </div>
      </div>
    </div>
  )
}
